button {
  background-color: black;
  outline: none;
  color: white;
  border: 1px solid black;
  padding: 5px 10px;
}

div#container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

div.block {
  user-select: none;
  touch-action: none;
  position: absolute;
  background-color: crimson;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  text-align: center;
  border: 2px solid black;
}

div.block-container {
  position: relative;
}

.block-sibling {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: gold;
  border: 2px solid black;
}
